
$contentcolor : rgb(255, 250, 250);

h1{
    color: $contentcolor;
}

.mgt{
    text-align:center;
    margin-top: 2rem;
}

.btn-mgt{
    color: whitesmoke !important;
    background-color: red !important;
    &:hover{
        color: black !important;
        background-color: crimson !important;
    }
}

.textedit{
    margin-top: 11px;
}

input{
    margin-left: 2rem;
    border-radius: 5px !important;
    background-color: rgb(236, 224, 207);
    padding-left: 9px;
}

.btn-txt-mgt{
    border-radius: 12px !important;
    &:hover{
        color: burlywood;
    }
}

.rembtn{
    color: coral;
    background-color: black;
    border-radius: 2rem;
    margin-left: 10rem;
    &:hover{
        color: black;
        background-color: coral;
    }
}
