.heading{
    text-align: center;
    margin-top: 40px;
}

.to-do-list{
    text-align:center;
    margin-top: 10px;
}

#new-task{
    text-align: center;
}

.my-list-container{
    text-align: center;
    margin-top: 30px;
    .my-tasks-list{
        list-style-type:none;
    }
}